<a class="btn" style="margin-top: 10px;" href="/user/status">Change status</a>

<% posts.forEach(post => { %>
  <div class="post-box">
    <span style="color: white;"><%= post.User.getFullname() %><span style="color: #8fffd4;"><%= formatDate(post.createdAt) %></span></span>
    <div class="post-inner-box">
      <img src="<%= post.cover %>" alt="post image" />
      <div class="action-btn">
        <a class="btn" style="cursor: not-allowed;">Like<span style="color: #71ffd0;"><%= post.dataValues.likeCount %></span></a>
        <a class="btn" href="/user/post/<%= post.id %>/edit">Edit</a>
        <a class="btn" href="/user/post/<%= post.id %>/delete">Delete</a>
      </div>
      <p>
        <%= post.message %>
      </p>
  </div>
  </div>
<% }) %>